/* CSS Document */

* { margin: 0px;
	padding: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.loginpage-1 {
	text-align: center;
	padding-top: 190px;
}

.homepage-link {		
	color: #fff;
	font-size: 150px;
	font-family: inherit;
}

.loginpage-1 a:hover {	
	color: #fff;
	text-decoration: none;
}

.iconnect-on { color: #c9da2c; }

#homepage-img {
	background: url(../images/image-0.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#login-bgImg { 
	background: url(../images/wind-fan-1.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#login-page-details { margin-top: 100px; }

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: #1c6b94 !important;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #1297dc !important;
	cursor: pointer;
}

.login-info {
	color: #c9da2c;
	font-weight: bold;
}

.forgot-password {
    color: #000;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #1297dc !important;
	text-decoration: none;
}

.navdown {
	color: #1c6b94;
	font-family:"Verdana, Geneva, sans-serif";
	font-size: 14px;
	width: 15%;
	padding: 8px;
	margin-top:70px;	
	font-weight: bold;
}

a .starticon:hover {
	color: #FFF;
}

.starticon {	
	background-color:#1c6b94;
	padding: 10px;
	color: #cbdb2a;
}

.navdown1 {	
	margin-top:70px;	
}

.navdown-list li { 
	display:inline-block;
	background-color: #1c6b94;
    padding: 8px;
}

.navdown-list { margin-top: 10px; }

.navdown-list1 {
	color: #cbdb2a;			
}

.navdown-list2 {
	color: #1c6b94;
	padding-left: 8px;	
}

.navdown-list3 {
	color: #c9da2c;
	padding-left: 8px;	
}

.navdown-list22 {
	color: #1c6b94;
    padding-right: 8px;
    float: right;
    padding-top: 7px;	
}


.iconnect-ps {
	background-color:#c9da2c;
	height:30px;
}

.ps11 {
	margin-top: 75px;
}

.iconnect-psh5 {
	margin-top: 0px;
	margin-bottom: 0px;	
}

.ps-tag {
	color: #1c6b94;
	line-height: 30px;	
}

.ps-tag1 {
	color: #FFF;
	line-height: 30px;	
}

.iconnect-psslide {
	background-color:#1c6b94;
	height:168px;
	color:#FFF;	
}

.iconnect-psslide-0 {
	background-color:#1c6b94;
	height:100px;
	color:#FFF;
}

.iconnect-psslide-1 {
	background-color:#1c6b94;
	height:188px;
	color:#FFF;
}

.iconnect-psslide-2 {
	background-color:#1c6b94;
	height:40px;
	color:#FFF;	
}

.iconnect-psslide-2 a:hover {
	text-decoration: none;	
}

.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.nextpage-arrow {
	background-color: #c9da2c;
    padding: 11px;
    margin-right: 30px;
    float: right;
}

#custom-search-input {
	margin:0;
	margin-top: 10px;
	padding: 0;
}

#custom-search-input .search-query {
	padding-right: 3px;
	padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#custom-search-input button {
	border: 0;
	background: none;
	/** belows styles are working good */
	padding: 2px 5px;
	/*margin-top: 2px;*/
	position: relative;
	left: -28px;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#1c6b94;
}

.search-query:focus + button {
	z-index: 3;   
}

.secondicon-search {
    padding-top: 0px !important;
}

.oym-iconnect {
	background-color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	border: 1px solid #cbdb2a;
}

.clientuser-name { color: #1c6b94; }

.clientuser-name1 { 
	font-size: 10px;	
	color: #1c6b94; 
}

.clientuser-name2 {
	font-size: 15px;	
	color: #1c6b94;
}

.asdf-icon { 
	padding-right: 0px !important;
    padding-left: 0px !important;
}

.ptag1 {
    margin: 0px 0 0px !important;
	color: #043650;
}
 


.dsp1 { text-align: center; }

.dsp2 { margin-left: 10px; }

.dsp3 { margin-left: 15px; }

.three-search { margin-top: 5px; }


.form-control { width: 96%;
    margin-left: 12px; }

/* Media Quiers */


@media (min-width: 300px) and (max-width: 978px) {
	.homepage-link { font-size: 60px; }
	.loginpage-1 { padding-top: 245px;	}
	#login-page-details { margin-top: 0px; }	
	.card  { padding: 20px 25px 30px !important; }
	.navdown { width: 240%; }	
}

			 
