/* CSS Document */

* {
    margin: 0px;
    padding: auto;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.loginpage-1 {
    text-align: center;
    padding-top: 190px;
}

.homepage-link {
    color: #fff;
    font-size: 150px;
    font-family: inherit;
}

.loginpage-1 a:hover {
    color: #fff;
    text-decoration: none;
}

.iconnect-on {
    color: #c9da2c;
}

#homepage-img {
    background: url(../images/image-0.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#login-bgImg {
    background: url(../images/wind-fan-1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

#login-page-details {
    margin-top: 100px;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}



/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: #1c6b94 !important;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #1297dc !important;
    cursor: pointer;
}

.login-info {
    color: #c9da2c;
    font-weight: bold;
}

.forgot-password {
    color: #000;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus {
    color: #1297dc !important;
    text-decoration: none;
}

.navdown {
    color: #1c6b94;
    font-family: "Verdana, Geneva, sans-serif";
    font-size: 14px;
    width: 15%;
    padding: 8px;
    margin-top: 70px;
    font-weight: bold;
}

a .starticon:hover {
    color: #FFF;
}

.starticon {
    background-color: #1c6b94;
    padding: 10px;
    color: #cbdb2a;
}

.navdown1 {
    margin-top: 70px;
}

.navdown-list li {
    display: inline-block;
    background-color: #1c6b94;
    padding: 8px;
}

.navdown-list {
    margin-top: 10px;
}

.navdown-list1 {
    color: #cbdb2a;
}

.navdown-list2 {
    color: #1c6b94;
    padding-left: 8px;
}

.navdown-list3 {
    color: #c9da2c;
    padding-left: 8px;
}

.navdown-list22 {
    color: #1c6b94;
    padding-right: 8px;
    float: right;
    padding-top: 7px;
}

.iconnect-ps {
    /*background-color: #c9da2c;*/
	background-color: #9fc441;
    /*height: 30px;*/
}

.ps11 {
    margin-top: 75px;
}

.iconnect-psh5 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ps-tag {
    /*color: #1c6b94;*/
	color: #2e6c95;
    line-height: 30px;
}

.ps-tag1 {
    color: #FFF;
    line-height: 30px;
}

.iconnect-psslide {
    background-color: #1c6b94;
    height: 168px;
    color: #FFF;
}

.iconnect-psslide-0 {
    background-color: #1c6b94;
    height: 100px;
    color: #FFF;
}

.iconnect-psslide-1 {
    background-color: #1c6b94;
    height: 188px;
    color: #FFF;
}

.iconnect-psslide-2 {
    background-color: #1c6b94;
    height: 40px;
    color: #FFF;
}

.iconnect-psslide-2 a:hover {
    text-decoration: none;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.nextpage-arrow {
    background-color: #c9da2c;
    padding: 11px;
    margin-right: 30px;
    float: right;
}

#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    /*margin-top: 2px;*/
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #1c6b94;
}

.search-query:focus + button {
    z-index: 3;
}

.secondicon-search {
    padding-top: 0px !important;
}

.oym-iconnect {
    background-color: #fff;
    /*margin-left: 5px;
    margin-right: 5px;*/
    border: 1px solid #cbdb2a;
}

.clientuser-name {
    color: #1c6b94;
}

.clientuser-name1 {
    font-size: 10px;
    color: #1c6b94;
}

.clientuser-name2 {
    font-size: 15px;
    color: #1c6b94;
}

.asdf-icon {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.ptag1 {
    margin: 0px 0 0px !important;
    color: #043650;
}

.dsp1 {
    text-align: center;
}

.dsp2 {
    margin-left: 10px;
}

.dsp3 {
    margin-left: 15px;
}

.three-search {
    margin-top: 5px;
}
label.error, .error{
    color: red;
    font-weight: normal ;
}
.clear{
    clear: both;
}

/*.form-control {*/
    /*width: 96%;*/
    /*margin-left: 12px;*/
/*}*/

/* Media Quiers */

@media (min-width: 300px) and (max-width: 978px) {
    .homepage-link {
        font-size: 60px;
    }

    .loginpage-1 {
        padding-top: 245px;
    }

    #login-page-details {
        margin-top: 0px;
    }

    .card {
        padding: 20px 25px 30px !important;
    }

    .navdown {
        width: 240%;
    }
}

/*alteracoes da barra de navegacao principal*/
.navbar-brand img {
    max-width: 100%;
    height: 50px;
    margin-top: -15px;
}

.navbar-custom {
    background: #1c6b94;
}

.navbar-inverse {
    background: #1c6b94;
    color: #FFF;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: none;
    color: #FFF;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > ul > li,
.navbar-inverse .navbar-nav > li.focus > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:visited,
.navbar-inverse .navbar-nav > li:hover > a:hover {
    background-image: #60B078;
    background: #60B078;
    background-color: #1c6b94 !important; /*necessario para forcar a regra do bootstrap que tem important*/
    color: #FFF;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    transition: all ease-in .3s;

}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: #60B078;
}

.dropdown-menu > li > a {
    padding: 5px 20px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #FFF;
    font-weight: 200;
    background-color: #60B078;
    background-image: none;
    background-repeat: none;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.iconSpecial {
    font-size: 30px;
    color: #4D5061;
    text-align: center;
}

.btn {
    border-radius: 0px;
}

.text-dark {
    color: #333;
}

.text-light {
    color: #eee;
}

.text16 {
    font-size: 16px;
}

ul.nav.navbar-nav.navbar-right:last-child {
    margin-right: 50px;
}

/*MENU DE CONTEXTO*/
.navbar-static-top {
    position: relative;
    margin-top: 50px;
    background: #f1ecec;
    box-shadow: 0px -2px 8px 0px #333333;
}

.navbar-static-top .navbar-nav > li > a {
    color: #4D5061
}

.navbar-static-top .navbar-nav > li > a:hover {
    color: #4D5061;
    background-color: #dadada;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.navbar-static-top .navbar-brand {
    font-size: 14px;
    color: #4D5061;
    font-style: normal;
    font-weight: bolder;
}

.navbar-static-top .navbar-brand::after {
    content: "|";
    font-size: 20px;
    color: #4D5061;
    margin-left: 10px;
    font-style: normal;
    font-weight: lighter;
}

.navbar-static-top .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4D5061;
    font-weight: 200;
    background-color: #dadada;
    background-image: none;
    background-repeat: none;
    -webkit-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    transition: all ease-in .3s;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

@keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

.flipInX {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
}

@-webkit-keyframes flipInY {
    0% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    60% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    100% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

/*Custom styles*/

.nav > li > a {
    padding: 10px 2px !important;
}

.controlform {
    height: 36px !important;
}

.input-group {
    padding-top: 7px;
}

.btn-iconbg {
    background-color: #ccdc2a;
}

@media (max-width: 768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }

    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

#custom-search-form {
    margin: 0;
    margin-top: 5px;
    padding: 0;
}

#custom-search-form .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: width 0.2s ease-in-out;
    -moz-transition: width 0.2s ease-in-out;
    -o-transition: width 0.2s ease-in-out;
    transition: width 0.2s ease-in-out;
}

#custom-search-form button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.search-query:focus + button {
    z-index: 3;
}

.search-query:focus {
    width: 260px;
}

.nopad {
    padding: 0;
}

.nopad_left {
    padding-left: 0;
}

.nopad_right {
    padding-right: 0;
}

.nopad_top {
    padding-top: 0;
}

.nopad_bottom {
    padding-bottom: 0;
}

.nopad_top_bottom {
    padding-top: 0;
    padding-bottom: 0;
}
.nopad_left_right {
    padding-left: 0;
    padding-right: 0;
}

.nomrg {
    margin: 0px;
}